@import "tailwindcss";


body {
  background: #dcdcdc;
  font-family: "Times New Roman", serif;
  margin: 0;
}

.builder-container {
  display: flex;
  min-height: 100vh;
}

/* LEFT FORM */
.form-section {
  width: 35%;
  background: white;
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.form-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button.print-btn {
  margin-top: 15px;
  padding: 8px 12px;
  cursor: pointer;
}

/* RIGHT PREVIEW */
.preview-section {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.a4-page {
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  padding: 2.5cm;
  box-sizing: border-box;
  border: 1px solid black;
  font-family: "Times New Roman", serif;
}

.university {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.logo-box {
  text-align: center;
  margin: 25px 0;
}

.lab-title {
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.divider {
  border: none;
  border-top: 1px solid #4a76a8;
  margin: 20px 0;
}

.department {
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.course-info {
  margin-bottom: 40px;
}

.submission-table {
  display: flex;
  border: 1px solid black;
}

.submission-table > div {
  flex: 1;
  padding: 20px;
}

.left {
  border-right: 1px solid black;
}

.submission-table h3 {
  text-align: center;
  margin-bottom: 20px;
}

.submission-date {
  margin-top: 50px;
}

/* PRINT */
@media print {
  body * {
    visibility: hidden;
  }

  .a4-page, .a4-page * {
    visibility: visible;
  }

  .a4-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .builder-container {
    margin: 0;
    padding: 0;
  }
}